body {
    background-image: radial-gradient(hsla(50, 0%, 70%, 1), white);
}



li {
    list-style: none;
    outline-style: solid;
    outline-color: hsla(17, 100%, 60%, 0.75);
    outline-width: thin;
}

li:hover {
    background-color: hsla(0, 0%, 80%, 1);
}

h2,
p {
    color: hsla(0, 0%, 25%, 1);
}

h5 {
    padding: 10px;
    color: hsla(0, 0%, 25%, 1);
}

p{
    font-size: 115%;
}

a {
    color: hsla(17, 100%, 49%, 1);
}

.center {
    text-align: center;
}

.logo {
    background-color: black;
}

.fixed {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
}

#faq {
    padding-top: 10%;
    padding-bottom: 1%;

}

@media screen and (max-width: 768px) {
    body,
    html {
        overflow-x: hidden;
    }
    ul {
        padding: 1%;
    }
    br {
        display: none;
    }
    .filter {
        display: none;
    }
    img {
        width: 85%;
        height 85%;
    }
    #faq {
        padding-top: 25%;
        font-size: 140%;
    }

}
